body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background: linear-gradient(rgb(10, 0, 0)40% 80%, rgb(20, 0, 0), rgb(40, 0, 0), rgb(100, 0, 0));
    background-color: rgb(100, 0, 0);
    background-repeat: no-repeat;
    height: 100vh;
}
h2{
    color: rgb(255, 215, 0);
    margin: 10px 0px;
}
button{
    margin: 5px 10px;
    padding: 8px 14px;
    font-size: 15px;
    border: 0;
    border-radius: 12px;
    cursor: pointer;
    color: white;
    background-color: var(--prymary-color-button);
}button:hover{
    background-color: var(--secundary-color-button);
}button:active{
    background-color: var(--thrid-color-button);
}
:root{
    --prymary-color-button: rgb(140, 20, 20);
    --secundary-color-button: rgb(90, 20, 20);
    --thrid-color-button: rgb(250, 20, 20);
}

.container {
    text-align: center;
    height: 100vh;
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
    font-size: 38px;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
    font-size: 18px;
}
.new-game{
    padding: 12px 22px;
    font-size: 22px;
}

.page-logo {
    width: 200px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

body > img {
    margin: 0 10px;
}

img {
    max-height: 350px;
}
.input{
    border: 0;
    padding: 8px;
    border-radius: 12px;
}