body{
    background-color: rgb(95, 137, 201);
    font: normal 15px Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.308);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}
input{
    margin: 8px 3px;
}

#txt{
    font-weight: bold;

}#txt > p{
    margin: 10px 0px;
}