:root{
    --main-color: hsl(233, 47%, 7%);
    --card-color: hsl(244, 38%, 16%);
    --span-color: hsl(277, 64%, 61%);
    --h2-color: hsla(0, 0%, 100%, 0.75);
    --p-color: hsla(0, 0%, 100%, 0.6); 
    --img: 0 10px 10px 0;
}
html,
body{
    color: white;
    background-color: var(--main-color);
    font-family: 'Inter', sans-serif;
    font-size: large;
    letter-spacing: 1px;
}
h1{
    color: white;
    font-size: 42px;
}
h2{
    color: var(--h2-color);
    margin-bottom: 0;
    font-size: 28px;
}
p{
    color: var(--p-color);
    line-height: 32px;
}
img{
    height: 100%;
    border-radius: var(--img);
    opacity: 0.6;
}


.container{
    display: flex;
    min-height: 98vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.card{
    width: 600px;
    height: 500px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 10px;
    background-color: var(--card-color);
    flex-direction: column;
}
.stats{
    width: 450px;
}
.values{
    margin-top: 50px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.font{
    font-family: 'Lexend Deca', sans-serif;
    letter-spacing: 2px;
    margin-top: 5px;
    font-size: 14px;
}
.image{
    height: 530px;
    background-color: var(--span-color);
    border-radius: var(--img);
}
.attribution{
    position: fixed;
    inset: auto 0 0 0;
    font-size: 11px; 
    text-align: center; 
}
.attribution a{ 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 1250px){
    html, 
    body{
        text-align: center;
        font-size: 15px;
    }
    h1{
        font-size: 30px;
        margin-top: 35px;
    }
    p{
        line-height: 28px;
    }
    img{
        content: url(./images/image-header-mobile.jpg);
        width: 350px;
        border-radius: 10px 10px 0 0;
    }

    .container{
        flex-direction: column-reverse;
    }
    .card{
        width: 350px;
        height: 100%;
        padding: 0;
        border-radius: 0 0 10px 10px;
    }
    .stats{
        width: 300px;
    }
    .values{
        margin: 30px 0;
        flex-direction: column;
    }
    .image{
        height: 250px;
        border-radius: 10px 10px 0 0;
    }
    .attribution{
        position: relative;
    }
  }